html>body {
  font-family: 'Roboto','Helvetica','Arial',sans-serif!important;
  background-color: #FAFAFA;
}

.mdl-list__item {
  font-size: 12px;
  padding: 10px;
}

.mdl-list__item:hover {
  background-color: #eee;
  cursor: pointer;
}

.nav-group-header {
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
  padding: 0 10px;
  font-weight: 500;
}

.nav-group-links{
  text-decoration: none;
  text-transform: none;
}
